.details-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.details-list div {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-list div:not(:last-child) {
  border-bottom: 1px solid #0002;
}
