.standings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.loading {
  font-size: 20px;
  font-weight: bold;
}
.standings-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: center;
  row-gap: 0.2rem;
  column-gap: 1.2rem;
}
.position {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  color: lightgray;
}
.constructor-logo {
  max-width: 2.4rem;
  max-height: 2.4rem;
  justify-self: center;
}
.nationality {
  font-size: 2.4rem;
}
.color {
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
.name {
  text-align: left;
}
